body {
  background: beige;
}

.install {
  background: cyan;
  border-radius: 2em;
  text-align: center;
  font-weight: lighter;
}

.page {
  background: black;
  /*border: 2px solid black;*/
  border-radius: 2em;
}

.miseenpage {
  background: white;
  border-radius: 1em;
  border: 1px solid red;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blockecrit {
  /*border: 1px solid orange;*/
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  background: orange;
  border-radius: 2em;
  text-align: center;
  font-weight: lighter;
}
